In [ ]:
1. it is not a seq data type
2. it a collection of key value pair
3. items are sep by ,
4. key value pair are sep by :
5. key cannot be dupicated whereas value can be duplicated
6. key should be always immutable data type
7. value can be anything of our choice
8. all the items are wrtiiten in curly brackets
9. index ,  slicing , concatination , repetiton is not allowed
10. membership is applicable but only on keys
11. idenitity
12. dic is mutable

In [2]:
# 2. it a collection of key value pair
# 3. items are sep by ,
# 4. key value pair are sep by :
# 8. all the items are wrtiiten in curly brackets

employee = {'name':'afsaan' , 'age':24}
print(employee, type(employee))

{'name': 'afsaan', 'age': 24} <class 'dict'>

In [5]:
# 1. it is not a seq data type

employee = {'name':'afsaan' , 'age':24}

# print(employee[0])
print(employee[:])

TypeError: unhashable type: 'slice'

In [6]:
# 5. key cannot be duplicated whereas value can be duplicated

# a.) duplicate value

employee = {'name':'afsaan' , 'age':24 , 'exp':24}
print(employee)

{'name': 'afsaan', 'age': 24, 'exp': 24}

In [8]:
#b) keys are duplicated

employee = {'name':'afsaan' , 'age':24 , 'name':'rahul'}
print(employee)

{'name': 'rahul', 'age': 24}

In [ ]:
name -- rahul
age -- 24

In [9]:
# 6. key should be always immutable data type

employee = {'name':'afsaan' , 'age':24 , 'name':'rahul'}
print(employee)

{'name': 'rahul', 'age': 24}

In [10]:
employee = {'name':'afsaan' , 1:24 , 2:'rahul'}
print(employee)

{'name': 'afsaan', 1: 24, 2: 'rahul'}

In [11]:
employee = {'name':'afsaan' , True:24 , False:'rahul'}
print(employee)

{'name': 'afsaan', True: 24, False: 'rahul'}

In [12]:
employee = {'name':'afsaan' , [1,2,3,4]:24 , False:'rahul'}
print(employee)

TypeError: unhashable type: 'list'

In [13]:
employee = {'name':'afsaan' , (1,2,3,4):24 , False:'rahul'}
print(employee)

{'name': 'afsaan', (1, 2, 3, 4): 24, False: 'rahul'}

In [15]:
# 7. value can be anything of our choice

employee = {'name':'afsaan' , (1,2,3,4):[1,2,3,4] , False:6+7j}
print(employee)

{'name': 'afsaan', (1, 2, 3, 4): [1, 2, 3, 4], False: (6+7j)}

In [17]:
# 10. membership is applicable but only on keys

employee = {'name':'afsaan' , 'age':24 , 'exp':24}
print(24 in employee)

employee = {'name':'afsaan' , 'age':24 , 'exp':24}
print('name' in employee)

False
True

In [18]:
# 11. idenitity

a = {'name':'afsaan' , 'age':24 , 'exp':24}
b = {'name':'afsaan' , 'age':24 , 'exp':24}

print(a is b)

False

In [19]:
# 12. dic is mutable

b = {'name':'afsaan' , 'age':24 , 'exp':24}
b['name'] = 'rahul'

print(b)

{'name': 'rahul', 'age': 24, 'exp': 24}

In [21]:
# Accessing a value inside a dict

data = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24} , 'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

data['emp_2']['name']

'rahul'

In [22]:
data['emp_1']['name'][::-1]

'naasfa'

In [23]:
# Methods on dic

dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# 1. methods to add and access the element from the dict

1. get
2. setdeafult
3. update

# 1. get

if the key is present it returns a value, else default

In [24]:
# a.) if key is present

data = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

print(data.get('emp_1'))

{'name': 'afsaan', 'age': 24, 'exp': 24}

In [25]:
# b) key is not present

data = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

print(data.get('emp_3'))

None

In [29]:
# you can customised the message of key is not present

data = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

print(data.get('emp_3' , "key is not present"))

None

# 2. set deafult

insert the key with the value of the deafult if key is not present in a dict , else return a value

In [31]:
# a) key is present

data = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

print(data.setdefault('emp_2' , "key is not present"))

{'name': 'rahul', 'age': 24, 'exp': 24}

In [32]:
# a) key is not present

data = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

print(data.setdefault('emp_3' , "key is not present"))

key is not present

In [33]:
data

{'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': 'key is not present'}

In [35]:
# 3. update

data_1 = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

data_2 = {'emp_3' : {'name':'devendra' , 'age':24 , 'exp':24},
        'emp_4' : {'name':'sauvik' , 'age':24 , 'exp':24}}

data_2.update(data_1)

In [36]:
data_1

{'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

In [37]:
data_1 = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

data_2 = {'emp_3' : {'name':'devendra' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'sauvik' , 'age':24 , 'exp':24}}

data_1.update(data_2)

In [39]:
data_1

{'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'sauvik', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24}}

In [42]:
data_1 = {'emp_1' : {'name':'afsaan' , 'age':24 , 'exp':24},
        'emp_2' : {'name':'rahul' , 'age':24 , 'exp':24}}

data_2 = {'emp_3' : {'name':'devendra' , 'age':24 , 'exp':24},
        'emp_4' : {'name':'sauvik' , 'age':24 , 'exp':24}}

data_1.update(data_2)
# data_2['emp_3'].update({'phone':99999})

#2. methods to delete the items from the dic

1. pop
2. popitem

# 1.pop 

removes the specified key and return the corresponding value. if key is not found, deafult is returned if given, otherwise keyerror

In [47]:
# a.) key is present

data_1 = {'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

data_1.pop('emp_4')

{'name': 'sauvik', 'age': 24, 'exp': 24}

In [48]:
data_1

{'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24}}

In [49]:
# b.) key is not present

data_1 = {'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

data_1.pop('emp_0')

KeyError: 'emp_0'

In [50]:
data_1 = {'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

data_1.pop('emp_0' , 'key is not present to remove')

'key is not present to remove'

In [52]:
# 2. popitem

# removes and return tuple(key, valyue) from the last

data_1 = {'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

data_1.popitem()

('emp_4', {'name': 'sauvik', 'age': 24, 'exp': 24})

In [53]:
data_1

{'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24}}

In [54]:
data_1 = {'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

In [57]:
data_1.get('emp_100' , 'not present')

'not present'

In [60]:
# methods to check all the value in dict

data_1.values()

dict_values([{'name': 'afsaan', 'age': 24, 'exp': 24}, {'name': 'rahul', 'age': 24, 'exp': 24}, {'name': 'devendra', 'age': 24, 'exp': 24}, {'name': 'sauvik', 'age': 24, 'exp': 24}])

In [61]:
for i in data_1.values():
    print(i)

{'name': 'afsaan', 'age': 24, 'exp': 24}
{'name': 'rahul', 'age': 24, 'exp': 24}
{'name': 'devendra', 'age': 24, 'exp': 24}
{'name': 'sauvik', 'age': 24, 'exp': 24}

In [62]:
data_1.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4'])

In [63]:
data_1.items()

dict_items([('emp_1', {'name': 'afsaan', 'age': 24, 'exp': 24}), ('emp_2', {'name': 'rahul', 'age': 24, 'exp': 24}), ('emp_3', {'name': 'devendra', 'age': 24, 'exp': 24}), ('emp_4', {'name': 'sauvik', 'age': 24, 'exp': 24})])

# fromkeys method

Create a new dict with keys from iterable and value set to value

In [64]:
d2 = dict.fromkeys([1,2,3,4])

print(d2)

{1: None, 2: None, 3: None, 4: None}

In [65]:
d2 = dict.fromkeys([1,2,3,4] , 0)

print(d2)

{1: 0, 2: 0, 3: 0, 4: 0}

In [66]:
# clear

data_1 = {'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

data_1.clear()

In [70]:
data_1 = {'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24, 'exp': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

In [71]:
data_1['emp_3'].pop('exp')

24

In [72]:
data_1

{'emp_1': {'name': 'afsaan', 'age': 24, 'exp': 24},
 'emp_2': {'name': 'rahul', 'age': 24, 'exp': 24},
 'emp_3': {'name': 'devendra', 'age': 24},
 'emp_4': {'name': 'sauvik', 'age': 24, 'exp': 24}}

NameError: name 'rohit' is not defined

dict comprehension

In [74]:
a = [1,2,3,4,5]

{i:i**2 for i in a}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# set data type

- collection of values and it is not a seq
- indexing and slicing is not supp
- collection of unique element
- mutable
- cannot contain a mutable type

In [75]:
a = {1,2,3,4,5,1,1,1,2,3,4}
print(a)

{1, 2, 3, 4, 5}

In [77]:
a = {1,2,3,4,5,1,1,1,2,3,{1:2}}
print(a)

TypeError: unhashable type: 'dict'

In [80]:
data = {'emp1':'afsaan' , 'emp2':'tarun' , 'emp3':'abinash' , 'emp4':'ajay'}

In [82]:
data_search = input('please enter the name')

for i in data.items():
    if i[1] == data_search:
        print(i[0])

please enter the nameafsaan
emp1

afsaan
tarun
abinash
ajay

# Conditional statements

if

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5

if cond is True - 1,2,3,4,5
if cond is False - 1,2,3

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# stat6
# stat7

if cond is True - 1,2,3,4,5,6
if cond is False - 1,2,3,6,7

if else

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# stat8
# stat9

if cond is True - 1,2,3,4,5,8,9
if cond is False - 1,2,3,6,7,8,9

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# if cond2:
#     stat6
#     stat7
# if cond3:
#     stat8
#     stat9
# else:
#     stat10
#     stat11
# stat12
# stat13

if cond 1 is True and rest is false - 1,2,3,4,5,10,11,12,13
if all are false - 1,2,3,10,11,12,13

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# if cond2:
#     stat8
#     stat9
# if cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15

if cond 1 and cond 2 is False and rest is True - 1,2,3,6,7,10,11,14,15

if all the cond are false - 1,2,3,6,7,12,13,14,15

if elif else

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# elif cond2:
#     stat8
#     stat9
# elif cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15

if cond 1 ,2 is True and rest all is false - 1,2,3,4,5,14,15
if cond 3 is only true - 1,2,3,10,11,14,15
if all cond are False - 1,2,3,12,13,14,15

In [ ]:
# condtional with example
# loops