In [ ]:
int - -5 to 256
float - not applicable
string - a-z,A-Z,0-9,_
bool - 0/1
none - yes

In [ ]:
# Indentity op

"""
it will tell us if the memeory address of 2 varibale ar same or not
return - True / False
op - is / not is

"""

In [1]:
a = 10
b = 20

print(a is b)

False

In [2]:
a = 'afsan#'
b = 'afsan#'

print(a is b)

False

In [3]:
a = 10
b = 10

print(a is not b)

False

In [4]:
a = 1
b = True

print(a is b)

False

In [5]:
a = None
b = None

print(a is b)

True

In [6]:
True + True + True

3

In [ ]:
# Ternary op

"""
expr1 if cond else exp2 - if cond is true then expr1 else expr2
expr1 if cond1 else exp2 if cond2 else exp3 - if cond1 is True then exp1 , else cond2 is true then
                                              exp2 else exp3
"""

In [7]:
print(10 if 10<20 else 20)

10

In [8]:
print(10 if (True and False) else 20)

20

In [9]:
print('Benzema' if 10<20 else 'messi' if ((10<20) and (20==20)) else 'ronaldo')

Benzema

In [10]:
print('Benzema' if 100<20 else 'messi' if ((10<20) and (20==20)) else 'ronaldo' if True else 'mbappe')

messi

In [11]:
print('Benzema' if 100<20 else 'messi' if ((10<20) or (20==20)) else 'ronaldo')

messi

In [12]:
print('Benzema' if 100<20 else 'messi' if 100==101 else 'ronaldo')

ronaldo

In [15]:
print('benzema' if 'krisnendu'='krisnendu' else 'messi' if 100==100 else 'ronaldo' if 40>5 else 'kohli')

benzema

In [17]:
# binary , ocat , hexadimal

# binary - 0-1 , bin() , 0b

num = 789
print(bin(789))
print(0b1100010101)

0b1100010101
789

In [19]:
# oct - 0-7 , oct() , 0o
num = 789
print(oct(789))
print(0o1425)

0o1425
789

In [21]:
# hexa - 0-9 , a/A-f/F , hex() , 0x
num = 789
print(hex(789))
print(0x315)

0x315
789

In [ ]:
# operator precedence

()
**
+x , -x , ~x
*, / , // , %
+ , -
<< , >>
&
^
|
== , != , > , >= , < , <= , is , is not , in , not in
not
and
or

In [ ]:
# Type casting - converting 1 data type to another

int()
float()
bool()
str()
list()
complex()
tuple()

In [24]:
a = 1
type(a)

int

In [25]:
c = str(a)
c

'1'

In [26]:
a = '100'
float(a)

100.0

In [27]:
a = 100.45
int(a)

100

In [38]:
a = 10
print(type(str(a)))
type(a)

<class 'str'>

int

In [31]:
a = str(10)
print(a)
# type(a)

10

str

In [32]:
a = '100'
int(a)

100

In [33]:
a = 'hello'
int(a)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
# input . ouput
# string format
# float data type

In [37]:
a = 1
print(type(a))

<class 'int'>

In [36]:
a = '1'
print(type(a))

<class 'str'>