In [1]:
# Write a function to check if a number is even or odd

# function defination

def even_odd(num):
    
    if num%2==0:
        print('number is even')
    else:
        print('number is odd')

# funcation call
even_odd(102)

number is even

In [2]:
even_odd(101)

number is odd

In [ ]:
# types of args

1. postional args
2. deafult args
3. keyword args

In [ ]:
1. postional args
- number if args should match the number of paramters
- order is important

In [3]:
def employee_data(emp_name , emp_age , emp_id):
    print(emp_name)
    print(emp_age)    
    print(emp_id)

In [4]:
emp_name = input('')
emp_id = input('')
emp_age = input('')



employee_data(emo_name , '25' , '618')

Afsan
25
618

In [5]:
employee_data('Afsan' , '25')

TypeError: employee_data() missing 1 required positional argument: 'emp_id'

In [6]:
employee_data(25 , 'afsaan' , '618')

25
afsaan
618

In [8]:
#2. deafult args

def employee_data(emp_name , emp_age , emp_id, emp_location='india'):
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)

In [9]:
employee_data('afsan', 25 , 123)

afsan
25
123
india

In [10]:
employee_data('mark', 32 , 987 , 'uk')

mark
32
987
uk

In [12]:
employee_data('mark', 32 , 987 , ' Russia')

mark
32
987
 Russia

In [13]:
# 1 . deafult args should always be after postional args

def employee_data(emp_name , emp_age , emp_id, emp_location='india' , employee_state = 'Goa'):
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)
    print(employee_state)

In [14]:
employee_data('afsan',25,123)

afsan
25
123
india
Goa

In [15]:
def employee_data(employee_state = 'Goa' , emp_name , emp_age , emp_id, emp_location='india'):
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)
    print(employee_state)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_10088/3010229577.py, line 1)

In [17]:
def employee_data(emp_name , emp_id , emp_age,employee_state = 'Goa', emp_location='india'):
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)
    print(employee_state)

In [19]:
employee_data('afsan', '35', 678 , 'Goa' , 'uk')

afsan
678
35
uk
Goa

In [ ]:
# 3. keyword args

In [21]:
def employee_data(emp_name , emp_id , emp_age,employee_state = 'Goa', emp_location='india'):
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)
    print(employee_state)

In [23]:
employee_data(emp_name = 'afsan' , emp_location='uk' , emp_age = 25 , emp_id=123 , employee_state = 'banglore')

afsan
25
123
uk
banglore

In [24]:
[1,2,3].append(10)

In [25]:
a = 'afsan'

In [ ]:
a.split()

In [27]:
def employee_data(emp_name , emp_id , emp_age,employee_state = 'Goa', emp_location='india'):
    """
    this function is to print the empoyee data
    
    params:
        emp_name(str)
        emp_id(int)
    """
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)
    print(employee_state)

In [ ]:
take all the information
en = input()
ei = input()
ea = input()

employee_data(en , ea , ei)

In [28]:
def employee_data(emp_name , emp_id , emp_age,employee_state = 'Goa', emp_location='india'):
    """
    this function is to print the empoyee data
    
    params:
        emp_name(str)
        emp_id(int)
    """
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)
    print(employee_state)

In [31]:
employee_data('afsan' , '123' , employee_state = 'abc' , emp_age = 24)

afsan
24
123
india
abc

*args , **kwargs

In [32]:
def employee_data(*args , **kwargs):
    """
    args - tuple
    kwargs - dict
    """
    print(args)
    print(kwargs)

In [33]:
employee_data('afsan' , 'khan' , employee_state = 'Goa' , employe_location  = 'india')

('afsan', 'khan')
{'employee_state': 'Goa', 'employe_location': 'india'}

In [34]:
employee_data('afsan' , 'khan' , 'age' , employee_state = 'Goa')

('afsan', 'khan', 'age')
{'employee_state': 'Goa'}

In [ ]:
def some_logic(emp_name , **kwargs):
    print(kwargs)
    
    if kwargs.get('emp_loc'):
        print(f"emp_loc is present : {kwargs['emp_loc']}")

In [ ]:
# Return statment in function

- it is optional in function
- if not used returned statment default value will be none
- if used the returned statment then the value will be that statement
- if returned then the the type of the function will be what is returned
- you can return any object
- you can return function also

In [19]:
def employee_data(emp_name , emp_id , emp_age,employee_state = 'Goa', emp_location='india'):
    """
    this function is to print the empoyee data
    
    params:
        emp_name(str)
        emp_id(int)
    """
    print(emp_name)
    print(emp_age)    
    print(emp_id)
    print(emp_location)
    print(employee_state)
    
    return None

In [20]:
employee_data('afsan' , 'age' ,'id')

afsan
id
age
india
Goa

In [17]:
def sum(a,b):
    c = a+b
    return (1,3.5)

In [18]:
type(sum(10,20))

tuple

In [15]:
output

'afsan'

In [ ]:
a = 'afsan'
type(a)

In [23]:
def a(name, age, location="India", state="goa"):
    return name,age,location


name , age , location = a(name="arnav",age=33, state="delhi")

print(name)
print(age)
print(location)

arnav
33
India

In [ ]:
def evenorodd(a):
    if a%2 == 0:
        return 'even'
    else:
        return 'odd'

evenorodd(4)
print(evenorodd(4))

While we are executing this we are getting even only one time 

def evenorodd(a):
    if a%2 == 0:
        print('even') 
    else:
        print('odd')

evenorodd(4)
print(evenorodd(4))

But when I am using this I am getting even even and none 

Can you explain this Afsan

In [30]:
def evenorodd(a):
    if a%2 == 0:
        return 'even'
    else:
        return 'odd'

print(id(evenorodd(4)))
print(evenorodd(4))

2458543865264
even

In [27]:
a = 10
b = 20

a

10