In [1]:
a = ['afsan@gmail.com' , 'rahul@gmail.com' , 'harish@hotmail.com' , 'shubham@yaho.com']

# extract the username in the new list

b = []

for i in a:
    b.append(i.split('@')[0])

In [2]:
b

['afsan', 'rahul', 'harish', 'shubham']

In [ ]:
# list comphrension

"""- 
when we have to create a new list from the old list
you can use list comprehension if you have only one expression to execute
"""

syntax - [expression for var in iterables if condition]

In [3]:
a = ['afsan@gmail.com' , 'rahul@gmail.com' , 'harish@hotmail.com' , 'shubham@yaho.com']
b = [i.split('@')[0] for i in a]
b

['afsan', 'rahul', 'harish', 'shubham']

In [5]:
'afsan@gmail.com'.split('@')[0]

'afsan'

In [6]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [i*i for i in a]

In [7]:
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
a = [10,21,102,141,32,78,101,749]
b = [] # even number

for i in a:
    if i%2==0:
        b.append(i)

In [10]:
a = [10,21,102,141,32,78,101,749]
b = [i for i in a if i%2==0] # even number

In [11]:
b

[10, 102, 32, 78]

# Tuple
- all elements are seperated by commnas and wriiten inside a round(optional) bracket

In [12]:
a = (1,2,3,4,5,6,7)
print(a , type(a))

(1, 2, 3, 4, 5, 6, 7) <class 'tuple'>

In [13]:
a = 1,2,3,4,5,6,7
print(a , type(a))

(1, 2, 3, 4, 5, 6, 7) <class 'tuple'>

In [ ]:
# Create a Tuple

In [14]:
# 1. you already know the ele
a = ('audi' , 'mercedes' , 'tata')
print(a)

('audi', 'mercedes', 'tata')

In [15]:
#2. typecasting
a = 'abc'
print(tuple(a))

a = [1,2,3]
print(tuple(a))

a = 1
print(tuple(a))

('a', 'b', 'c')
(1, 2, 3)

TypeError: 'int' object is not iterable

In [16]:
#3. eval

a = eval(input('please enter the tuple here'))
print(a , type(a))

please enter the tuple here1,2,3,4,5
(1, 2, 3, 4, 5) <class 'tuple'>

In [ ]:
# Properties of Tuple
1. Seq data type
2. +ve and -ve indexing is allowed
3. allows duplicate element
4. can store hetrogeneous data
5. basic op - indexing , slicing , concatination , repetition , indentity , membership
6. immutable

In [18]:
a = (1,2,3,4,5)

In [19]:
# indexing

a[-1]

5

In [20]:
# slicing
a[1:4:-2]

()

In [21]:
# concatination
"""
op - +
operand - both will be tuple

"""
a = (1,2,3,4)
b = (5,6,7,8)

a+b

(1, 2, 3, 4, 5, 6, 7, 8)

In [22]:
# repetition
"""
op - *
operand - tuple and int

"""
a = (1,2,3,4)
b = 3

a*b

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [23]:
# indentity

a = (1,2,3,4,5)
b = (1,2,3,4,5)

print( a is not b)

True

In [24]:
# membership

a = ('abc' , 1 , 1.2)

print('abc' in a)

True

In [25]:
# 3. allows duplicate element

a = (1,1,1,1,1,1,1)
print(a)

(1, 1, 1, 1, 1, 1, 1)

In [26]:
# 3. hetro data

a = ('abc' , 1 , 1.2 , [1,2,3] , True)
print(a)

('abc', 1, 1.2, [1, 2, 3], True)

In [27]:
# 6. immutable

a = ('abc' , 1 , 1.2 , [1,2,3] , True)

a[0] = 'xyz'

TypeError: 'tuple' object does not support item assignment

In [28]:
# Methods on tuple

dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [29]:
a = ('abc' , 1 , 1.2 , [1,2,3] , True)

a.count('abc')

1

In [30]:
# index

a = ('abc' , 1 , 1.2 , [1,2,3] , True)
a.index(True)

1

In [31]:
# tuple packing

# assigning a multiple values to a single var

a = 1,2,3,True , 1+7j , 'abc'
print(a)

(1, 2, 3, True, (1+7j), 'abc')

In [34]:
# tuple unpacking

# assigning multiple varibales to a multiple values

a,b,c,d = (1,2,3,4)

print(d)

4

In [ ]:
# note = number of var on lhs == number of ele on rhs

In [35]:
# list unpacking

# assigning multiple varibales to a multiple values

a,b,c,d = [1,2,3,4]

print(d)

4

In [ ]:
a = ('abc' , True , 1.2 , [1,2,3] , True)
b = a

In [36]:
a = ('abc' , True , 1.100 , [1,2,3] , True)
print(a , id(a))
b = ('abc' , True , 1.2 , [1,2,3] , True)
print(a, id(b))

('abc', True, 1.2, [1, 2, 3], True) 2489277377648
('abc', True, 1.2, [1, 2, 3], True) 2489276512992

In [37]:
a = 10
b = 10

print(a is b)

True

In [41]:
a = ('abc',1.2,[1,2,3] , True)
print(a.index(True))

3

In [42]:
a = (True,2,True,2,4,5,True)
a.index(True)

0

In [ ]:
# dictinory

In [43]:
a = ['afsan' , 25 , 750000]

In [44]:
print(a[0])
print(a[1])
print(a[2])

afsan
25
750000

In [ ]:
# 1. what if the eloements interchange

a = ['afsan' , 750000 , 25]

print(a[0])
print(a[1])
print(a[2])

In [ ]:
a = ['afsan' , 25 , 25]

print(a[0])
print(a[1])
print(a[2])

In [ ]:
# dict
- it is used to represent structured data
- anything tha can be written inside a {} and elements are sep by commas and each ele is key value pair

In [ ]:
a = ['afsan' , 25 , 25]

In [45]:
a = {'name':'afsaan' , 'age':25 , 'salary':25}

print(a['name'])
print(a['age'])
print(a['salary'])

afsaan
25
25

In [46]:
a = { 'age':25 , 'salary':25, 'name':'afsaan'}

print(a['name'])
print(a['age'])
print(a['salary'])

afsaan
25
25

In [ ]:
a = {'name':'afsaan' , 'age':25 , 'salary':25}

print(a['name'])
print(a['age'])
print(a['salary'])

In [ ]:
# Properties of dict

1. it is not a seq data type
2. it a collection of key value pair
3. items are sep by ,
4. key value pair are sep by :
5. key cannot be dupicated whereas value can be duplicated
6. key should be always immutable data type
7. value can be anything of our choice
8. all the items are wrtiiten in curly brackets
9. index ,  slicing , concatination , repetiton is not allowed
10. membership is applicable but only on keys
11. idenitity
12. dic is mutable

# Create a dict

In [47]:
# 1 . user defined

a = {'name':'afsaan' , 'age':25 , 'salary':25}

print(a , type(a))

{'name': 'afsaan', 'age': 25, 'salary': 25} <class 'dict'>

In [48]:
#2 . user input

a = eval(input('data'))

print(a , type(a))

data{'name':'afsaan' , 'age':25 , 'salary':25}
{'name': 'afsaan', 'age': 25, 'salary': 25} <class 'dict'>

In [ ]:
#3. dict function
- it takes a seq of inner seq where inner seq will have a pair of values out of which the first value will be key
and second value will be the value itself

In [49]:
a = [[1,2] , ['name', 'afsan'] , [10, 'messi']]
print(dict(a))

{1: 2, 'name': 'afsan', 10: 'messi'}

In [52]:
#4. zip
# zip(iterable , iterbale)

a = [1,2,3,4,5]
b = [100,200,300,400,500]

dict(zip(a,b))

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

In [53]:
a = [1,2,3,4,5]
b = [100,200,300,400,500,600]

dict(zip(a,b))

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

In [ ]:
dict - 
conditional statment