In [1]:
a = 10
b = 20

if a < 20:
    print('messi')
else:
    print('ronaldo')
print('afsan')

messi
afsan

In [2]:
a = 10
b = 20

if a < 20:
    print('messi')
else:
    print('mbappe')
if b <=20:
    print('neymar')
else:
    print('ronaldo')
print('afsan')

messi
neymar
afsan

In [3]:
a = 10
b = 20
c = 100
if a > 10:
    print('abc')
elif b<20 and a==10:
    prin('xyz')
elif True:
    print('lmo')
else:
    'ok'

lmo

In [5]:
# nested conditions : - condition inside a condition

a = 25
b = 20
c = 100
if a > 10:
    print('hola')
    if c==100:
        print('heya')
    else:
        print('hi')
else:
    if b==20 and c<101:
        print('see you')
    else:
        print('ok')

hola
heya

In [8]:
# write a program to take a user input which will convert number into word format from 0-5

"""
4 --> four
0 --> zero
-1 --> invalid
6 --> invalid
"""
num = int(input('enter the number'))
if num == 0:
    print('zero')
elif num == 1:
    print('one')
elif num == 2:
    print('two')
elif num == 3:
    print('three')
elif num == 4:
    print('four')
else:
    print('number not in range')

enter the number4
four

In [11]:
# write a program to take user input as a string and check if its a palibdrome or not

"""
level
yes

afsan
false

"""

a = input("enter a string only")

if a==a[::-1]:
    print("yes it is palindrone")
else:
    print("its not a palindrone")

enter a string onlyafsan
its not a palindrone

In [ ]:
### Q1. take three number from the user  and find the max out of those 3 number
### Q2. Design a calculator where two numbers will be taken by the user
        operation code will be entered by the user
            1. add
            2. sub
            3. mul
### Q3. to find a year entered by user is a leap year or not

# loops

1. for loop
2. while loop

In [ ]:
# for loop

syntax
for var in iterable:
    statment1
    
    
- if you have fix number of iteration

In [12]:
for i in range(0,9):
    if i>5:
        print('heya')
    else:
        print('hola')

hola
hola
hola
hola
hola
hola
heya
heya
heya

In [13]:
# for else

"""
else will be only executed it for loop is exhausted
"""

for i in [1,2,3,4]:
    print('afsan')
else:
    print('hola')

afsan
afsan
afsan
afsan
hola

In [29]:
a = [[10,20] , [20,30] , [30,40]]

for i in a:
    for j in i:
        print(i)

[10, 20]
[10, 20]
[20, 30]
[20, 30]
[30, 40]
[30, 40]

In [ ]:
for iteraion 1:
    i = [10,20]
    for i in [10,20]
    inner loop iteration 1:
        [10,20]
    inner loop iter 2:
        [10,20]
        
for iteraion 2:
    .
    .
    .
    .

In [ ]:
While loop

- if we do not know about iteration
- if we want to stop the loop based on some condition

synatx
1- initilization
2- conditional
3- inc/dec

In [17]:
i = 0  # intilization
while i<9: # condition checking
    print('hello')
    i+=1 # inc / dec

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [21]:
#Q2. display the following output using loop where string is 'python'

# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn
a = 'python'
print(a[0]*1)
print(a[1]*2)
print(a[2]*3)
print(a[3]*4)
print(a[4]*5)
print(a[5]*6)

# for loop
a = 'python'
for i in range(0,len(a)):
    print(a[i]*(i+1))

# while loop
i = 0
while i<len(a):
    print(a[i]*(i+1))
    i+=1

p
yy
ttt
hhhh
ooooo
nnnnnn
p
yy
ttt
hhhh
ooooo
nnnnnn
p
yy
ttt
hhhh
ooooo
nnnnnn

In [25]:
a = 'afsan'
for i in range(0,len(a)):
    print(a[i]*(i+1))

a
ff
sss
aaaa
nnnnn

In [22]:
z=1
for i in 'python':
    print(i*z)
    z+=1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [ ]:
# should be dynamic
# minimum line possible

In [ ]:
a = [[10,20] , [20,30] , [30,40]]

for i in a:
    for j in i:
        print(j)

In [ ]:
a = 'python'
i =0
while i<len(a):
    i+=1
    j =0
    while j < i:
        print(a[i-1],end = ' ')
        j += 1
    print("hello")

In [34]:
#Q2. display the following output using loop where string is 'python'

# nnnnnn
# ooooo
# hhhh
# ttt
# yy
# p
a = 'python'
for i in range(len(a),0,-1):
    print(a[i-1]*i)
    
i = len(a)
while i > 0:
    print(a[i-1]*i)
    i -= 1

nnnnnn
ooooo
hhhh
ttt
yy
p
nnnnnn
ooooo
hhhh
ttt
yy
p

In [37]:
a = 'python'
for i in range(len(a)-1,-1,-1):
    print(a[i]* (i+1))

TypeError: can only concatenate str (not "int") to str

In [35]:
list(range(len(a)-1,-1,-1))

[5, 4, 3, 2, 1, 0]

In [ ]:
break

continue


functions