In [ ]:
# List data types

anything written inside a [] and elements are sep by ,

In [1]:
a = [1,2,3,4,5,6]
print(type(a))

<class 'list'>

# Creation of the list

1. you already know the element

In [2]:
fruits = ['apple', 'mango' , 'orange']
print(fruits)

['apple', 'mango', 'orange']

2. taking the user input

In [7]:
list1  = eval(input('enter the list'))
print(list1 , type(list1))

enter the list[1,2,3,4]
[1, 2, 3, 4] <class 'list'>

In [5]:
#3 typecasting

# we can only typecast the seq data type

a = 1
# print(list(a))

b = 'abc'
print(list(b))

c = (1,2,3)
print(list(c))

['a', 'b', 'c']
[1, 2, 3]

In [6]:
#4. split

str1 = 'learnbay classes'
str1.split()

['learnbay', 'classes']

In [8]:
b = 'abc'
print(list(b))

['a', 'b', 'c']

In [ ]:
# Properties of list

1. Seq data type
2. supports +ve and -ve indexing
3. it can contain duplicate elements
4. its can contain any data type
5. basic - indexing , slicing , concatination , repetition, membership , indentity
6. mutable

In [9]:
# it can contain duplicate elements

a = [1,2,3,4,1,1,1,1,1]
print(a)

[1, 2, 3, 4, 1, 1, 1, 1, 1]

In [10]:
# its can contain any data type

a = [1 , 1.2 , None , 'learnbay' , 6+7j , [1,2,3] , (12,3)]
print(a)

[1, 1.2, None, 'learnbay', (6+7j), [1, 2, 3], (12, 3)]

In [11]:
# indexing

In [12]:
a = [1,2,3,4,5,6,'afsan' , 'learnbay' , 'hamilton']

print(a[-1])

hamilton

In [13]:
print(a[4])

5

In [15]:
a[-6:-3:-1]

[]

In [16]:
a[-1::-2]

['hamilton', 'afsan', 5, 3, 1]

In [17]:
a[-1::-1]

['hamilton', 'learnbay', 'afsan', 6, 5, 4, 3, 2, 1]

In [18]:
# concatination

"""
op - +
operand - both the elements should be list
"""

a = [1,2,3]
b = [5,6,7]

print(a+b)

[1, 2, 3, 5, 6, 7]

In [19]:
# repetition

"""
op - * 
operand - one should be a list and other should be int
"""

a = [1,2,3]
b = 5

print(a*b)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
a = [1,2,3,4,5,6,'afsan' , 'learnbay' , 'hamilton']

print('afsaan' in a)

False

In [21]:
a = [1,2,3,4,5,6,'afsan' , 'learnbay' , 'hamilton']

print('hamilton' not in a)

False

In [24]:
# indentity op

a = [1,2,3,4,5]
print(id(a))
b = [1,2,3,4,5]
print(id(b))

print(a is b)

2823588435456
2823588435712
False

In [23]:
# mutable

a = ['afsan' , 'learnbay' , 'kholi' , 'messi' , 'fedrer']
a[0] = 'dhoni'

print(a)

['dhoni', 'learnbay', 'kholi', 'messi', 'fedrer']

In [26]:
# Nested list - list inside a list 

a = [1,2,3,['afsan' , 'khan'] , ['learnbay']]

In [27]:
a[-2]

['afsan', 'khan']

In [28]:
a[-2][-1]

'khan'

In [31]:
a[-2][-1]

'khan'

In [32]:
a[-2][-1][::2]

'ka'

In [33]:
'khan'[::2]

'ka'

In [34]:
nest_list_1= [[1,2,4] , [5,6,7], [8,[9,10, ['a','b']]]]

In [36]:
nest_list_1[-1][-1][-1][0]

'a'

In [38]:
print(nest_list_1[2][-1][-1][-2])

a

In [39]:
nest_list_1[2][1][2][0]

'a'

In [40]:
nest_list_1= [[1,2,4] , [5,6,['afsan' , 'khan' , ['a' , 'messi']]], [8,[9,10, ['a','b']]]]

In [41]:
nest_list_1[1][2][-1][-1][0:4]

'mess'

In [42]:
# Methods on list

dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# Methods to insert the element in list

1. append
2. extend
3. insert

In [ ]:
# 1.append
"""
it appends the element a last
you can enter one ele at a time
you can appedn both iterables and non iterables obj
"""

In [ ]:
# what are the ways to find out if the obj is iterable or not

1. if len function is working
2. dir(obj) has __iter__

In [45]:
a = 1

len(a)

TypeError: object of type 'int' has no len()

In [46]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [50]:
a = [1,2,3,4,5]
b = 'learnbay'

print(a.append(b))

print(a)

None
[1, 2, 3, 4, 5, 'learnbay']

In [52]:
a = [1,2,3,4,5]
b = ['learnbay']

print(b.append(a))

print(b)

None
['learnbay', [1, 2, 3, 4, 5]]

In [49]:
a = 'abc'
print(a.upper())
a

ABC

'abc'

In [ ]:
# extend

it is similar to contination but extend does not return any new object

In [53]:
a1 = [1,2,3,4]
s1 = [10,11,12]

a1.extend(s1)
a1

[1, 2, 3, 4, 10, 11, 12]

In [54]:
a1 = [1,2,3,4]
s1 = [10,11,12]

a1 + s1

[1, 2, 3, 4, 10, 11, 12]

In [55]:
a1

[1, 2, 3, 4]

In [56]:
a1 = [1,2,3,4]
s1 = [10,11,12]

a1.extend(s1)
a1

[1, 2, 3, 4, 10, 11, 12]

In [57]:
a1 = [1,2,3,4]
s1 = [10,11,12]

a1.append(s1)
a1

[1, 2, 3, 4, [10, 11, 12]]

In [ ]:
# in extend you can only do with iterable objects

In [58]:
a1 = [1,2,3,4]
s1 = [10,11,12]

a1.extend('abc')
a1

[1, 2, 3, 4, 'a', 'b', 'c']

In [59]:
a1 = [1,2,3,4]
s1 = [10,11,12]

a1.extend(1.2)
a1

TypeError: 'float' object is not iterable

In [ ]:
# insert

will insert the value a particular index
- only one ele can be inserted a time

syntax - list.insert(index , ele)

In [60]:
a1 = [1,2,3,4]

In [ ]:
a1.inset